@mixin tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $breakpoint-phone){
    @content;
  }
}

@mixin no-style {
  margin: 0;
  padding: 0;
  list-style: none;
}


