$blue: #55bbd5;
$blue-light: #e2f5f8;
$white: #fafafa;
$grey: #c3c3c3;
$grey-light: #fafafa;
$pink: #d13371;

// Global font size is applied to HTML then use REM in elements
$font-size-desktop: 18px;
$font-size-tablet: 18px;
$font-size-phone: 18px;

$breakpoint-tablet: 1100px;
$breakpoint-phone: 800px;
